alabaster
altair==5.0.1
anaconda-client
anaconda-navigator
anaconda-project
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
atomicwrites
attrs
Automat
autopep8
autoviz
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts
black
bleach
blinker
bokeh
boto3
botocore
Bottleneck
brotlipy
cachetools
catboost
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent
colorama
colorcet
colorlover
comtypes
conda
conda-build
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify
constantly
cookiecutter
cryptography
cssselect
cycler
Cython
cytoolz
daal4py
dask
datashader
datashape
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docutils
emoji
entrypoints
et-xmlfile
fastjsonschema
filelock
flake8
Flask
fonttools
frozendict
fsspec
future
gensim
gitdb
GitPython
glob2
graphviz
greenlet
h5py
HeapDict
holoviews
html5lib
htmlmin
hvplot
hyperlink
idna
imagecodecs
ImageHash
imageio
imagesize
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jdcal
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
jupyterthemes
keyring
kiwisolver
lazy-object-proxy
lesscpy
libarchive-c
lightgbm
llvmlite
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service
mlxtend
mock
mpmath
msgpack
multimethod
multipledispatch
multitasking
munkres
mypy-extensions
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nbmerge
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
olefile
openpyxl
packaging
pandas
pandas-profiling
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy
pep8
pexpect
phik
pickleshare
Pillow
pkginfo
platformdirs
plot-metric
plotly
pluggy
ply
pmdarima
poyo
prometheus-client
prompt-toolkit
Protego
protobuf
psutil
ptyprocess
py
py4j
pyamg
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyHamcrest
PyJWT
pylint
pyls-spyder
Pympler
PyNaCl
pyodbc
pyOpenSSL
pyparsing
pyrsistent
PySocks
pyspark
pytest
python-dateutil
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
pytz
pytz-deprecation-shim
pyviz-comms
PyWavelets
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
regex
requests
requests-file
rich
rope
Rtree
ruamel-yaml-conda
s3transfer
scikit-image
scikit-learn
scikit-learn-intelex
scipy
Scrapy
seaborn
Send2Trash
service-identity
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
statsmodels
streamlit
sweetviz
sympy
tables
tabulate
tangled-up-in-unicode
TBB
tblib
tenacity
terminado
testpath
text-unidecode
textblob
textdistance
threadpoolctl
three-merge
tifffile
tinycss
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
Twisted
twisted-iocpsupport
typeguard
typing_extensions
tzdata
tzlocal
ujson
Unidecode
urllib3
validators
visions
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
win-inet-pton
win-unicode-console
wincertstore
wordcloud
wrapt
xarray
xgboost
xlrd
XlsxWriter
xlwings
yapf
ydata-profiling
yfinance
zict
zipp
zope.interface
